extends template

block content
	div#page1

		h1.parallax.title(data-offset="10") Nicolás Cedrón
			span.bottom Web Developer

		.circle.parallax#b123(data-offset="90")
			.content
				.ci
			.label
		.items
			.ability
				img(src="images/html5.png")
			.ability
				img(src="images/css3.png")
			.ability
				img(src="images/php.png")
			.ability
				img(src="images/jquery.png")
			.ability
				img(src="images/mysql.png")
			.ability
				img(src="images/android.png")
			.ability
				img(src="images/jquery.png")
			.ability
				img(src="images/css3.png")
			.ability
				img(src="images/jquery.png")
			.ability
				img(src="images/php.png")
			.ability
				img(src="images/jquery.png")
			.ability
				img(src="images/jquery.png")
			.ability
				img(src="images/html5.png")
			.ability
				img(src="images/jquery.png")
			.ability
				img(src="images/mysql.png")
			.ability
				img(src="images/android.png")


	#page2